tools/Ntreev.Crema.RuntimeService/Service References/DescriptorService/www.ntreev.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ntreev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ntreev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ntreev.com/Imports">
      <xsd:import namespace="http://www.ntreev.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.ntreev.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDescriptorService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_IsOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_GetDataBaseInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBaseInfos" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_GetDataBaseInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBaseInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_GetServiceInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfos" />
  </wsdl:message>
  <wsdl:message name="IDescriptorService_GetServiceInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfosResponse" />
  </wsdl:message>
  <wsdl:portType name="IDescriptorService">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDescriptorService/GetVersion" message="tns:IDescriptorService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDescriptorService/GetVersionResponse" message="tns:IDescriptorService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDescriptorService/IsOnline" message="tns:IDescriptorService_IsOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDescriptorService/IsOnlineResponse" message="tns:IDescriptorService_IsOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataBaseInfos">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDescriptorService/GetDataBaseInfos" message="tns:IDescriptorService_GetDataBaseInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDescriptorService/GetDataBaseInfosResponse" message="tns:IDescriptorService_GetDataBaseInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfos">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDescriptorService/GetServiceInfos" message="tns:IDescriptorService_GetServiceInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDescriptorService/GetServiceInfosResponse" message="tns:IDescriptorService_GetServiceInfos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>