client/Ntreev.Crema.Services/Service References/UserService/www.ntreev.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ntreev.com" elementFormDefault="qualified" targetNamespace="http://www.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ntreev.Crema.ServiceModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platformID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="culture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ntreev.com" minOccurs="0" name="SubscribeResult" type="q1:ResultBaseOfUserContextMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" name="UnsubscribeResult" type="q2:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milliseconds" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.ntreev.com" minOccurs="0" name="shutdownType" type="q3:ShutdownType" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.ntreev.com" minOccurs="0" name="ShutdownResult" type="q4:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelShutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelShutdownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ntreev.com" minOccurs="0" name="CancelShutdownResult" type="q5:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.ntreev.com" minOccurs="0" name="authority" type="q6:Authority" />
        <xs:element minOccurs="0" name="allowMultiLogin" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.ntreev.com" minOccurs="0" name="NewUserResult" type="q7:ResultBaseOfUserInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.ntreev.com" minOccurs="0" name="NewUserCategoryResult" type="q8:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.ntreev.com" minOccurs="0" name="RenameUserItemResult" type="q9:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.ntreev.com" minOccurs="0" name="MoveUserItemResult" type="q10:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.ntreev.com" minOccurs="0" name="DeleteUserItemResult" type="q11:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.ntreev.com" minOccurs="0" name="authority" nillable="true" type="q12:Authority" />
        <xs:element minOccurs="0" name="allowMultiLogin" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ntreev.com" minOccurs="0" name="ChangeUserInfoResult" type="q13:ResultBaseOfUserInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.ntreev.com" minOccurs="0" name="KickResult" type="q14:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userToken" type="q15:guid" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.ntreev.com" minOccurs="0" name="KickAuthenticationResult" type="q16:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ban">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.ntreev.com" minOccurs="0" name="BanResult" type="q17:ResultBaseOfBanInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unban">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnbanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.ntreev.com" minOccurs="0" name="UnbanResult" type="q18:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.ntreev.com" minOccurs="0" name="SendMessageResult" type="q19:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q20:ArrayOfstring" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.ntreev.com" minOccurs="0" name="NotifyMessageResult" type="q21:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessage2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q22:ArrayOfstring" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ntreev.Crema.ServiceModel" minOccurs="0" name="notifyMessageType" type="q23:NotifyMessageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMessage2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.ntreev.com" minOccurs="0" name="NotifyMessage2Result" type="q24:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnServiceClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q25:SignatureDate" />
        <xs:element xmlns:q26="http://schemas.ntreev.com" minOccurs="0" name="closeInfo" type="q26:CloseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUsersChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q27:SignatureDate" />
        <xs:element xmlns:q28="http://schemas.ntreev.com" minOccurs="0" name="userInfos" nillable="true" type="q28:ArrayOfUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUsersStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q29:SignatureDate" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q30:ArrayOfstring" />
        <xs:element xmlns:q31="http://schemas.ntreev.com" minOccurs="0" name="states" nillable="true" type="q31:ArrayOfUserState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserItemsCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q32:SignatureDate" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q33:ArrayOfstring" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="args" nillable="true" type="q34:ArrayOfNullableOfUserInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserItemsRenamed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q35:SignatureDate" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q36:ArrayOfstring" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newNames" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserItemsMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q38:SignatureDate" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q39:ArrayOfstring" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parentPaths" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserItemsDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q41:SignatureDate" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q42:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUsersLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q43:SignatureDate" />
        <xs:element xmlns:q44="http://schemas.ntreev.com" minOccurs="0" name="auteAuthenticationInfos" nillable="true" type="q44:ArrayOfAuthenticationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUsersLoggedOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q45:SignatureDate" />
        <xs:element xmlns:q46="http://schemas.ntreev.com" minOccurs="0" name="auteAuthenticationInfos" nillable="true" type="q46:ArrayOfAuthenticationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUsersKicked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q47:SignatureDate" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q48:ArrayOfstring" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comments" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserAuthenticationKicked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q50:SignatureDate" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q51:ArrayOfstring" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userTokens" nillable="true" type="q52:ArrayOfguid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comments" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUsersBanChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q54:SignatureDate" />
        <xs:element xmlns:q55="http://schemas.ntreev.com" minOccurs="0" name="banInfos" nillable="true" type="q55:ArrayOfBanInfo" />
        <xs:element xmlns:q56="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q56:BanChangeType" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comments" nillable="true" type="q57:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q58:SignatureDate" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q59:ArrayOfstring" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.ntreev.com" minOccurs="0" name="messageType" type="q60:MessageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessageReceived2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q61:SignatureDate" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q62:ArrayOfstring" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.ntreev.com" minOccurs="0" name="messageType" type="q63:MessageType" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Ntreev.Crema.ServiceModel" minOccurs="0" name="nofiMessageType" type="q64:NotifyMessageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnPingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>