tools/Ntreev.Crema.RuntimeService/Service References/ServiceClient/www.ntreev.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ntreev.com" elementFormDefault="qualified" targetNamespace="http://www.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:element name="GetCodeGenerationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tags" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeGenerationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ntreev.com" minOccurs="0" name="GetCodeGenerationDataResult" type="q1:ResultBaseOfGenerationSetq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataGenerationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tags" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isDevmode" type="xs:boolean" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataGenerationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" name="GetDataGenerationDataResult" type="q2:ResultBaseOfSerializationSetq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tags" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isDevmode" type="xs:boolean" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ntreev.com" minOccurs="0" name="GetMetaDataResult" type="q3:ResultBaseOfGenerationSetSerializationSet45wWDu_Sb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.ntreev.com" minOccurs="0" name="ResetDataResult" type="q4:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ntreev.com" minOccurs="0" name="GetRevisionResult" type="q5:ResultBaseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>