client/Ntreev.Crema.Services/Service References/DataBaseCollectionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.ntreev.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataBaseCollectionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDataBaseCollectionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.ntreev.com" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IDataBaseCollectionService" type="i0:IDataBaseCollectionService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDataBaseCollectionService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DefinitionType">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/DefinitionType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPublic">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/SetPublic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrivate">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/SetPrivate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccessMember">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/AddAccessMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAccessMember">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/SetAccessMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAccessMember">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/RemoveAccessMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lock">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Lock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unlock">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Unlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unload">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Unload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Copy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Rename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Revert">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/Revert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginTransaction">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/BeginTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndTransaction">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/EndTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTransaction">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/CancelTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnServiceClosed">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnServiceClosed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesCreated">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesCreated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesRenamed">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesRenamed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesDeleted">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesLoaded">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesLoaded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesUnloaded">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesUnloaded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesAuthenticationEntered">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesAuthenticationEntered" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesAuthenticationLeft">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesAuthenticationLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesInfoChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesInfoChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesStateChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesAccessChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesAccessChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDataBasesLockChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDataBaseCollectionService/OnDataBasesLockChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataBaseCollectionService">
    <wsdl:port name="NetTcpBinding_IDataBaseCollectionService" binding="tns:NetTcpBinding_IDataBaseCollectionService">
      <soap12:address location="net.tcp://localhost:4004/DataBaseCollectionService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4004/DataBaseCollectionService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>