client/Ntreev.Crema.Services/Service References/DataBaseCollectionService/www.ntreev.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ntreev.com" elementFormDefault="qualified" targetNamespace="http://www.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DefinitionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ntreev.com" minOccurs="0" name="param1" nillable="true" type="q1:ArrayOfLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefinitionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" name="DefinitionTypeResult" type="q2:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.ntreev.com" minOccurs="0" name="SubscribeResult" type="q4:ResultBaseOfDataBaseCollectionMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ntreev.com" minOccurs="0" name="UnsubscribeResult" type="q5:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.ntreev.com" minOccurs="0" name="SetPublicResult" type="q6:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.ntreev.com" minOccurs="0" name="SetPrivateResult" type="q7:ResultBaseOfAccessInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q8:AccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.ntreev.com" minOccurs="0" name="AddAccessMemberResult" type="q9:ResultBaseOfAccessMemberInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q10:AccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.ntreev.com" minOccurs="0" name="SetAccessMemberResult" type="q11:ResultBaseOfAccessMemberInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.ntreev.com" minOccurs="0" name="RemoveAccessMemberResult" type="q12:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ntreev.com" minOccurs="0" name="LockResult" type="q13:ResultBaseOfLockInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.ntreev.com" minOccurs="0" name="UnlockResult" type="q14:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.ntreev.com" minOccurs="0" name="LoadResult" type="q15:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.ntreev.com" minOccurs="0" name="UnloadResult" type="q16:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.ntreev.com" minOccurs="0" name="CreateResult" type="q17:ResultBaseOfDataBaseInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.ntreev.com" minOccurs="0" name="CopyResult" type="q18:ResultBaseOfDataBaseInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rename">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.ntreev.com" minOccurs="0" name="RenameResult" type="q19:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.ntreev.com" minOccurs="0" name="DeleteResult" type="q20:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.ntreev.com" minOccurs="0" name="GetLogResult" type="q21:ResultBaseOfArrayOfLogInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.ntreev.com" minOccurs="0" name="RevertResult" type="q22:ResultBaseOfDataBaseInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.ntreev.com" minOccurs="0" name="BeginTransactionResult" type="q23:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.ntreev.com" minOccurs="0" name="EndTransactionResult" type="q24:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.ntreev.com" minOccurs="0" name="CancelTransactionResult" type="q25:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnServiceClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q26:SignatureDate" />
        <xs:element xmlns:q27="http://schemas.ntreev.com" minOccurs="0" name="closeInfo" type="q27:CloseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q28:SignatureDate" />
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q29:ArrayOfstring" />
        <xs:element xmlns:q30="http://schemas.ntreev.com" minOccurs="0" name="dataBaseInfos" nillable="true" type="q30:ArrayOfDataBaseInfo" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesRenamed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q31:SignatureDate" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q32:ArrayOfstring" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newDataBaseNames" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q34:SignatureDate" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q35:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesLoaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q36:SignatureDate" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesUnloaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q38:SignatureDate" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesResetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q40:SignatureDate" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesReset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q42:SignatureDate" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q43:ArrayOfstring" />
        <xs:element xmlns:q44="http://schemas.ntreev.com" minOccurs="0" name="metaDatas" nillable="true" type="q44:ArrayOfDomainMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesAuthenticationEntered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q45:SignatureDate" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q46:ArrayOfstring" />
        <xs:element xmlns:q47="http://schemas.ntreev.com" minOccurs="0" name="authenticationInfo" type="q47:AuthenticationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesAuthenticationLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q48:SignatureDate" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q49:ArrayOfstring" />
        <xs:element xmlns:q50="http://schemas.ntreev.com" minOccurs="0" name="authenticationInfo" type="q50:AuthenticationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesInfoChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q51:SignatureDate" />
        <xs:element xmlns:q52="http://schemas.ntreev.com" minOccurs="0" name="dataBaseInfos" nillable="true" type="q52:ArrayOfDataBaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q53:SignatureDate" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dataBaseNames" nillable="true" type="q54:ArrayOfstring" />
        <xs:element xmlns:q55="http://schemas.ntreev.com" minOccurs="0" name="dataBaseStates" nillable="true" type="q55:ArrayOfDataBaseState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesAccessChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q56:SignatureDate" />
        <xs:element xmlns:q57="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q57:AccessChangeType" />
        <xs:element xmlns:q58="http://schemas.ntreev.com" minOccurs="0" name="accessInfos" nillable="true" type="q58:ArrayOfAccessInfo" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="memberIDs" nillable="true" type="q59:ArrayOfstring" />
        <xs:element xmlns:q60="http://schemas.ntreev.com" minOccurs="0" name="accessTypes" nillable="true" type="q60:ArrayOfAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDataBasesLockChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q61:SignatureDate" />
        <xs:element xmlns:q62="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q62:LockChangeType" />
        <xs:element xmlns:q63="http://schemas.ntreev.com" minOccurs="0" name="lockInfos" nillable="true" type="q63:ArrayOfLockInfo" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comments" nillable="true" type="q64:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>