client/Ntreev.Crema.Services/Service References/DataBaseService/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:complexType name="ArrayOfNullableOfTableInfoq8erDhHE">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.ntreev.com" minOccurs="0" maxOccurs="unbounded" name="TableInfo" nillable="true" type="q1:TableInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfTableInfoq8erDhHE" nillable="true" type="tns:ArrayOfNullableOfTableInfoq8erDhHE" />
  <xs:complexType name="ArrayOfNullableOfTypeInfoq8erDhHE">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" maxOccurs="unbounded" name="TypeInfo" nillable="true" type="q2:TypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfTypeInfoq8erDhHE" nillable="true" type="tns:ArrayOfNullableOfTypeInfoq8erDhHE" />
</xs:schema>