client/Ntreev.Crema.Services/Service References/DataBaseService/www.ntreev.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ntreev.com" elementFormDefault="qualified" targetNamespace="http://www.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ntreev.Crema.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ntreev.Crema.ServiceModel" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="DefinitionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.ntreev.com" minOccurs="0" name="param1" nillable="true" type="q1:ArrayOfLogInfo" />
        <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" name="param2" nillable="true" type="q2:ArrayOfFindResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefinitionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ntreev.com" minOccurs="0" name="DefinitionTypeResult" type="q3:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q4:guid" />
        <xs:element minOccurs="0" name="dataBaseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ntreev.com" minOccurs="0" name="SubscribeResult" type="q5:ResultBaseOfDataBaseMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.ntreev.com" minOccurs="0" name="UnsubscribeResult" type="q6:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.ntreev.com" minOccurs="0" name="GetMetaDataResult" type="q7:ResultBaseOfDataBaseMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="revision" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.ntreev.com" minOccurs="0" name="GetDataSetResult" type="q8:ResultBaseOfCremaDataSetu_SdO6mFN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTableCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTableCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.ntreev.com" minOccurs="0" name="NewTableCategoryResult" type="q9:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableItemDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableItemDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.ntreev.com" minOccurs="0" name="GetTableItemDataSetResult" type="q10:ResultBaseOfCremaDataSetu_SdO6mFN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ntreev.Crema.Data" minOccurs="0" name="dataSet" nillable="true" type="q11:CremaDataSet" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.ntreev.com" minOccurs="0" name="ImportTablesResult" type="q12:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ntreev.com" minOccurs="0" name="RenameTableItemResult" type="q13:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.ntreev.com" minOccurs="0" name="MoveTableItemResult" type="q14:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.ntreev.com" minOccurs="0" name="DeleteTableItemResult" type="q15:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.ntreev.com" minOccurs="0" name="SetPublicTableItemResult" type="q16:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrivateTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrivateTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.ntreev.com" minOccurs="0" name="SetPrivateTableItemResult" type="q17:ResultBaseOfAccessInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessMemberTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q18:AccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessMemberTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.ntreev.com" minOccurs="0" name="AddAccessMemberTableItemResult" type="q19:ResultBaseOfAccessMemberInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessMemberTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q20:AccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessMemberTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.ntreev.com" minOccurs="0" name="SetAccessMemberTableItemResult" type="q21:ResultBaseOfAccessMemberInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessMemberTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessMemberTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.ntreev.com" minOccurs="0" name="RemoveAccessMemberTableItemResult" type="q22:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.ntreev.com" minOccurs="0" name="LockTableItemResult" type="q23:ResultBaseOfLockInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.ntreev.com" minOccurs="0" name="UnlockTableItemResult" type="q24:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTableItemProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTableItemPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.ntreev.com" minOccurs="0" name="SetTableItemPropertyResult" type="q25:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableItemLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableItemLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.ntreev.com" minOccurs="0" name="GetTableItemLogResult" type="q26:ResultBaseOfArrayOfLogInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.ntreev.com" minOccurs="0" name="GetTableRevisionResult" type="q27:ResultBaseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTableItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ntreev.Crema.ServiceModel" minOccurs="0" name="options" type="q28:FindOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTableItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.ntreev.com" minOccurs="0" name="FindTableItemResult" type="q29:ResultBaseOfArrayOfFindResultInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copyXml" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.ntreev.com" minOccurs="0" name="CopyTableResult" type="q30:ResultBaseOfArrayOfTableInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InheritTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="copyXml" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InheritTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.ntreev.com" minOccurs="0" name="InheritTableResult" type="q31:ResultBaseOfArrayOfTableInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterTableContentEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterTableContentEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.ntreev.com" minOccurs="0" name="EnterTableContentEditResult" type="q32:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveTableContentEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveTableContentEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.ntreev.com" minOccurs="0" name="LeaveTableContentEditResult" type="q33:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTableContentEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTableContentEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.ntreev.com" minOccurs="0" name="BeginTableContentEditResult" type="q34:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTableContentEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTableContentEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.ntreev.com" minOccurs="0" name="EndTableContentEditResult" type="q35:ResultBaseOfArrayOfTableInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTableContentEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTableContentEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.ntreev.com" minOccurs="0" name="CancelTableContentEditResult" type="q36:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTableTemplateEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTableTemplateEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.ntreev.com" minOccurs="0" name="BeginTableTemplateEditResult" type="q37:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginNewTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginNewTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.ntreev.com" minOccurs="0" name="BeginNewTableResult" type="q38:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTableTemplateEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTableTemplateEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.ntreev.com" minOccurs="0" name="EndTableTemplateEditResult" type="q40:ResultBaseOfTableInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTableTemplateEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTableTemplateEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.ntreev.com" minOccurs="0" name="CancelTableTemplateEditResult" type="q42:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTypeCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewTypeCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.ntreev.com" minOccurs="0" name="NewTypeCategoryResult" type="q43:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeItemDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeItemDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.ntreev.com" minOccurs="0" name="GetTypeItemDataSetResult" type="q44:ResultBaseOfCremaDataSetu_SdO6mFN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Ntreev.Crema.Data" minOccurs="0" name="dataSet" nillable="true" type="q45:CremaDataSet" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.ntreev.com" minOccurs="0" name="ImportTypesResult" type="q46:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.ntreev.com" minOccurs="0" name="RenameTypeItemResult" type="q47:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.ntreev.com" minOccurs="0" name="MoveTypeItemResult" type="q48:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.ntreev.com" minOccurs="0" name="DeleteTypeItemResult" type="q49:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.ntreev.com" minOccurs="0" name="CopyTypeResult" type="q50:ResultBaseOfTypeInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTypeTemplateEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginTypeTemplateEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.ntreev.com" minOccurs="0" name="BeginTypeTemplateEditResult" type="q51:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginNewType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginNewTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.ntreev.com" minOccurs="0" name="BeginNewTypeResult" type="q52:ResultBaseOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTypeTemplateEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndTypeTemplateEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.ntreev.com" minOccurs="0" name="EndTypeTemplateEditResult" type="q54:ResultBaseOfTypeInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTypeTemplateEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTypeTemplateEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.ntreev.com" minOccurs="0" name="CancelTypeTemplateEditResult" type="q56:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublicTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.ntreev.com" minOccurs="0" name="SetPublicTypeItemResult" type="q57:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrivateTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrivateTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.ntreev.com" minOccurs="0" name="SetPrivateTypeItemResult" type="q58:ResultBaseOfAccessInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessMemberTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q59:AccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessMemberTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.ntreev.com" minOccurs="0" name="AddAccessMemberTypeItemResult" type="q60:ResultBaseOfAccessMemberInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessMemberTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q61:AccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccessMemberTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.ntreev.com" minOccurs="0" name="SetAccessMemberTypeItemResult" type="q62:ResultBaseOfAccessMemberInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessMemberTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessMemberTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.ntreev.com" minOccurs="0" name="RemoveAccessMemberTypeItemResult" type="q63:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.ntreev.com" minOccurs="0" name="LockTypeItemResult" type="q64:ResultBaseOfLockInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.ntreev.com" minOccurs="0" name="UnlockTypeItemResult" type="q65:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTypeItemProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTypeItemPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.ntreev.com" minOccurs="0" name="SetTypeItemPropertyResult" type="q66:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeItemLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeItemLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.ntreev.com" minOccurs="0" name="GetTypeItemLogResult" type="q67:ResultBaseOfArrayOfLogInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.ntreev.com" minOccurs="0" name="GetTypeRevisionResult" type="q68:ResultBaseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTypeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Ntreev.Crema.ServiceModel" minOccurs="0" name="options" type="q69:FindOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTypeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.ntreev.com" minOccurs="0" name="FindTypeItemResult" type="q70:ResultBaseOfArrayOfFindResultInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnServiceClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q71:SignatureDate" />
        <xs:element xmlns:q72="http://schemas.ntreev.com" minOccurs="0" name="closeInfo" type="q72:CloseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTablesChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q73:SignatureDate" />
        <xs:element xmlns:q74="http://schemas.ntreev.com" minOccurs="0" name="tableInfos" nillable="true" type="q74:ArrayOfTableInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTablesStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q75:SignatureDate" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tableNames" nillable="true" type="q76:ArrayOfstring" />
        <xs:element xmlns:q77="http://schemas.ntreev.com" minOccurs="0" name="states" nillable="true" type="q77:ArrayOfTableState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTableItemsCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q78:SignatureDate" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q79:ArrayOfstring" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="args" nillable="true" type="q80:ArrayOfNullableOfTableInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTableItemsRenamed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q81:SignatureDate" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q82:ArrayOfstring" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newNames" nillable="true" type="q83:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTableItemsMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q84:SignatureDate" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q85:ArrayOfstring" />
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parentPaths" nillable="true" type="q86:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTableItemsDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q87:SignatureDate" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q88:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTableItemsAccessChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q89:SignatureDate" />
        <xs:element xmlns:q90="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q90:AccessChangeType" />
        <xs:element xmlns:q91="http://schemas.ntreev.com" minOccurs="0" name="accessInfos" nillable="true" type="q91:ArrayOfAccessInfo" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="memberIDs" nillable="true" type="q92:ArrayOfstring" />
        <xs:element xmlns:q93="http://schemas.ntreev.com" minOccurs="0" name="accessTypes" nillable="true" type="q93:ArrayOfAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTableItemsLockChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q94:SignatureDate" />
        <xs:element xmlns:q95="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q95:LockChangeType" />
        <xs:element xmlns:q96="http://schemas.ntreev.com" minOccurs="0" name="lockInfos" nillable="true" type="q96:ArrayOfLockInfo" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comments" nillable="true" type="q97:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypesChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q98:SignatureDate" />
        <xs:element xmlns:q99="http://schemas.ntreev.com" minOccurs="0" name="typeInfos" nillable="true" type="q99:ArrayOfTypeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypesStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q100:SignatureDate" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="typeNames" nillable="true" type="q101:ArrayOfstring" />
        <xs:element xmlns:q102="http://schemas.ntreev.com" minOccurs="0" name="states" nillable="true" type="q102:ArrayOfTypeState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypeItemsCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q103:SignatureDate" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q104:ArrayOfstring" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="args" nillable="true" type="q105:ArrayOfNullableOfTypeInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypeItemsRenamed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q106:SignatureDate" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q107:ArrayOfstring" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newNames" nillable="true" type="q108:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypeItemsMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q109:SignatureDate" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q110:ArrayOfstring" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parentPaths" nillable="true" type="q111:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypeItemsDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q112:SignatureDate" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemPaths" nillable="true" type="q113:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypeItemsAccessChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q114:SignatureDate" />
        <xs:element xmlns:q115="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q115:AccessChangeType" />
        <xs:element xmlns:q116="http://schemas.ntreev.com" minOccurs="0" name="accessInfos" nillable="true" type="q116:ArrayOfAccessInfo" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="memberIDs" nillable="true" type="q117:ArrayOfstring" />
        <xs:element xmlns:q118="http://schemas.ntreev.com" minOccurs="0" name="accessTypes" nillable="true" type="q118:ArrayOfAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTypeItemsLockChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q119:SignatureDate" />
        <xs:element xmlns:q120="http://schemas.ntreev.com" minOccurs="0" name="changeType" type="q120:LockChangeType" />
        <xs:element xmlns:q121="http://schemas.ntreev.com" minOccurs="0" name="lockInfos" nillable="true" type="q121:ArrayOfLockInfo" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="comments" nillable="true" type="q122:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>