client/Ntreev.Crema.Services/Service References/DomainService/www.ntreev.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ntreev.com" elementFormDefault="qualified" targetNamespace="http://www.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" name="SubscribeResult" type="q2:ResultBaseOfDomainContextMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ntreev.com" minOccurs="0" name="UnsubscribeResult" type="q3:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.ntreev.com" minOccurs="0" name="GetMetaDataResult" type="q4:ResultBaseOfDomainContextMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.ntreev.com" minOccurs="0" name="location" type="q6:DomainLocationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.ntreev.com" minOccurs="0" name="SetUserLocationResult" type="q7:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q9:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.ntreev.com" minOccurs="0" name="NewRowResult" type="q10:ResultBaseOfArrayOfDomainRowInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q12:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ntreev.com" minOccurs="0" name="RemoveRowResult" type="q13:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q15:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.ntreev.com" minOccurs="0" name="SetRowResult" type="q16:ResultBaseOfArrayOfDomainRowInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q17:guid" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.ntreev.com" minOccurs="0" name="SetPropertyResult" type="q18:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.ntreev.com" minOccurs="0" name="location" type="q20:DomainLocationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.ntreev.com" minOccurs="0" name="BeginUserEditResult" type="q21:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndUserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.ntreev.com" minOccurs="0" name="EndUserEditResult" type="q23:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q24:guid" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.ntreev.com" minOccurs="0" name="KickResult" type="q25:ResultBaseOfDomainUserInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q26:guid" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.ntreev.com" minOccurs="0" name="SetOwnerResult" type="q27:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q28:guid" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.ntreev.com" minOccurs="0" name="DeleteDomainResult" type="q29:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnServiceClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q30:SignatureDate" />
        <xs:element xmlns:q31="http://schemas.ntreev.com" minOccurs="0" name="closeInfo" type="q31:CloseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q32:SignatureDate" />
        <xs:element xmlns:q33="http://schemas.ntreev.com" minOccurs="0" name="domainInfo" type="q33:DomainInfo" />
        <xs:element xmlns:q34="http://schemas.ntreev.com" minOccurs="0" name="domainState" type="q34:DomainState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q35:SignatureDate" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q36:guid" />
        <xs:element minOccurs="0" name="IsCanceled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainInfoChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q37:SignatureDate" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q38:guid" />
        <xs:element xmlns:q39="http://schemas.ntreev.com" minOccurs="0" name="domainInfo" type="q39:DomainInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q40:SignatureDate" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q41:guid" />
        <xs:element xmlns:q42="http://schemas.ntreev.com" minOccurs="0" name="domainState" type="q42:DomainState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q43:SignatureDate" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q44:guid" />
        <xs:element xmlns:q45="http://schemas.ntreev.com" minOccurs="0" name="domainUserInfo" type="q45:DomainUserInfo" />
        <xs:element xmlns:q46="http://schemas.ntreev.com" minOccurs="0" name="domainUserState" type="q46:DomainUserState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q47:SignatureDate" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q48:guid" />
        <xs:element xmlns:q49="http://schemas.ntreev.com" minOccurs="0" name="domainUserInfo" type="q49:DomainUserInfo" />
        <xs:element xmlns:q50="http://schemas.ntreev.com" minOccurs="0" name="domainUserState" type="q50:DomainUserState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q51:SignatureDate" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.ntreev.com" minOccurs="0" name="domainUserInfo" type="q53:DomainUserInfo" />
        <xs:element xmlns:q54="http://schemas.ntreev.com" minOccurs="0" name="removeInfo" type="q54:RemoveInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRowAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q55:SignatureDate" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q56:guid" />
        <xs:element xmlns:q57="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q57:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRowChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q58:SignatureDate" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q59:guid" />
        <xs:element xmlns:q60="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q60:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRowRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q61:SignatureDate" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q62:guid" />
        <xs:element xmlns:q63="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q63:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPropertyChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.ntreev.com" minOccurs="0" name="signatureDate" type="q64:SignatureDate" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q65:guid" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>